[submodule "peeranha-contracts"]
	path = peeranha-contracts
	url = git@github.com:peeranha/peeranha-contracts
[submodule "peeranha-app"]
	path = peeranha-app
	url = git@github.com:peeranha/peeranha-app
