eos/
eosfactory/
eosio.cdt/
.vscode/
eos-node/data
eos-node/protocol_features
*.wasm
*.wast
*.pyc
*.abi
src/unittests/contracts/__pycache__
!stub/eosio.bios/eosio.bios.abi
!stub/eosio.bios/eosio.bios.wasm